body {
  font-family: Helvetica;
  text-align: center;
}
.header,
#design {
  background-image: url('../../resources/images/the-flatiron-building.png');
  color: white
}
a {
  text-decoration: underline;
  color: white;
  font-size: 18px;
}
.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
